.regsiter-container {
	width: 100%;
	margin: 0 auto;
	height: 100vh;
	display: flex;
	align-self: center;
	justify-content: center;
    margin-top: 15vh;
}

.regsiter-container .content {
	width: 500px;
	height: 500px;
	padding: 40px;
	background: #f0f0f5;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
	border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    

}
.regsiter-container .content section {
	width: 100%;
	max-width: 380px;
}

.regsiter-container .content section h1 {
	margin: 64px 0 32px;
}

.regsiter-container form {
	width: 100%;
	max-width: 450px;
}

.regsiter-container form input {
	margin-top: 15px;
}

